* {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Poppins", Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sansita", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#5a9ee3 0 75%, #fefefe);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  color: #5a9ee3;
  background-color: #fefefe;
  border-radius: 0.8rem;
  box-shadow: 0.4rem 0.4rem 1.2rem #29292933;
  animation: floatingBox 8s ease-in-out infinite;
}

@keyframes floatingBox {
  0% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}
